@import "tailwindcss";

@theme inline {
  --font-vazirmatn: var(--font-vazirmatn);

  /* Brand Colors */
  --color-primary: #8BC83F;
  /* Green - Actions */
  --color-brand: #252B5C;
  /* Navy - Headings */
  --color-secondary: #53587A;

  /* Backgrounds & Borders */
  --color-soft-bg: #F5F4F8;
  --color-soft-border: #ECEDF3;

  /* Text */
  --color-text-main: #252B5C;
  --color-text-light: #53587A;
  /* Utility */
  --radius-button: 10px;
}

body {
  background: #FFFFFF;
  color: #252B5C;
  font-family: var(--font-vazirmatn), sans-serif;
}